<a href="https://colab.research.google.com/github/danilopez8/GoogleColabSAA/blob/main/Titanic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:

import pandas as pd
import numpy as np

Requirement already satisfied: matplotlib in /usr/local/lib/python3.12/dist-packages (3.10.0)
Requirement already satisfied: contourpy>=1.0.1 in /usr/local/lib/python3.12/dist-packages (from matplotlib) (1.3.3)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.12/dist-packages (from matplotlib) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in /usr/local/lib/python3.12/dist-packages (from matplotlib) (4.60.1)
Requirement already satisfied: kiwisolver>=1.3.1 in /usr/local/lib/python3.12/dist-packages (from matplotlib) (1.4.9)
Requirement already satisfied: numpy>=1.23 in /usr/local/lib/python3.12/dist-packages (from matplotlib) (2.0.2)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.12/dist-packages (from matplotlib) (25.0)
Requirement already satisfied: pillow>=8 in /usr/local/lib/python3.12/dist-packages (from matplotlib) (11.3.0)
Requirement already satisfied: pyparsing>=2.3.1 in /usr/local/lib/python3.12/dist-packages (from matplotlib) (3.2.5)
Requirement already satisfied: python-dateutil>=2.7 in /usr/local/lib/python3.12/dist-packages (from matplotlib) (2.9.0.post0)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.12/dist-packages (from python-dateutil>=2.7->matplotlib) (1.17.0)

In [ ]:
titanic=pd.read_csv('/content/sample_data/titanic.csv')

In [ ]:
titanic

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [ ]:
#Mostrar por pantalla las dimensiones del DataFrame, el número de datos que
#contiene, los nombres de sus columnas y filas, los tipos de datos de las
#columnas, las 10 primeras filas y las 10 últimas filas.
print("Dimensiones:", titanic.shape)
print("Número total de datos:", titanic.size)
print("\nColumnas:\n", titanic.columns)
print("\nFilas (índice):\n", titanic.index)
print("\nTipos de datos:\n", titanic.dtypes)
print("\nPrimeras 10 filas:\n", titanic.head(10))
print("\nÚltimas 10 filas:\n", titanic.tail(10))

Dimensiones: (891, 12)
Número total de datos: 10692

Columnas:
 Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

Filas (índice):
 RangeIndex(start=0, stop=891, step=1)

Tipos de datos:
 PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

Primeras 10 filas:
    PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3
5            6         0       3
6            7         0       1
7            8         0       3
8            9         1       3
9           10         1       2

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0
5                                   Moran, Mr. James    male   NaN      0
6                            McCarthy, Mr. Timothy J    male  54.0      0
7                     Palsson, Master. Gosta Leonard    male   2.0      3
8  Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)  female  27.0      0
9                Nasser, Mrs. Nicholas (Adele Achem)  female  14.0      1

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S
5      0            330877   8.4583   NaN        Q
6      0             17463  51.8625   E46        S
7      1            349909  21.0750   NaN        S
8      2            347742  11.1333   NaN        S
9      0            237736  30.0708   NaN        C

Últimas 10 filas:
      PassengerId  Survived  Pclass                                      Name  \
881          882         0       3                        Markun, Mr. Johann
882          883         0       3              Dahlberg, Miss. Gerda Ulrika
883          884         0       2             Banfield, Mr. Frederick James
884          885         0       3                    Sutehall, Mr. Henry Jr
885          886         0       3      Rice, Mrs. William (Margaret Norton)
886          887         0       2                     Montvila, Rev. Juozas
887          888         1       1              Graham, Miss. Margaret Edith
888          889         0       3  Johnston, Miss. Catherine Helen "Carrie"
889          890         1       1                     Behr, Mr. Karl Howell
890          891         0       3                       Dooley, Mr. Patrick

        Sex   Age  SibSp  Parch            Ticket     Fare Cabin Embarked
881    male  33.0      0      0            349257   7.8958   NaN        S
882  female  22.0      0      0              7552  10.5167   NaN        S
883    male  28.0      0      0  C.A./SOTON 34068  10.5000   NaN        S
884    male  25.0      0      0   SOTON/OQ 392076   7.0500   NaN        S
885  female  39.0      0      5            382652  29.1250   NaN        Q
886    male  27.0      0      0            211536  13.0000   NaN        S
887  female  19.0      0      0            112053  30.0000   B42        S
888  female   NaN      1      2        W./C. 6607  23.4500   NaN        S
889    male  26.0      0      0            111369  30.0000  C148        C
890    male  32.0      0      0            370376   7.7500   NaN        Q

In [ ]:
titanic[titanic["PassengerId"] == 148]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
147,148,0,3,"Ford, Miss. Robina Maggie ""Ruby""",female,9.0,2,2,W./C. 6608,34.375,NaN,S

In [ ]:
#Mostrar las filas pares
titanic.iloc[::2]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
882,883,0,3,"Dahlberg, Miss. Gerda Ulrika",female,22.0,0,0,7552,10.5167,NaN,S
884,885,0,3,"Sutehall, Mr. Henry Jr",male,25.0,0,0,SOTON/OQ 392076,7.0500,NaN,S
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [ ]:
#Mostrar los nombres de las personas que iban en primera clase ordenados
#alfabéticamente
titanic["Pclass"]=1
titanic.sort_values(by="Name")

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
845,846,0,1,"Abbing, Mr. Anthony",male,42.0,0,0,C.A. 5547,7.5500,NaN,S
746,747,0,1,"Abbott, Mr. Rossmore Edward",male,16.0,1,1,C.A. 2673,20.2500,NaN,S
279,280,1,1,"Abbott, Mrs. Stanton (Rosa Hunt)",female,35.0,1,1,C.A. 2673,20.2500,NaN,S
308,309,0,1,"Abelson, Mr. Samuel",male,30.0,1,0,P/PP 3381,24.0000,NaN,C
874,875,1,1,"Abelson, Mrs. Samuel (Hannah Wizosky)",female,28.0,1,0,P/PP 3381,24.0000,NaN,C
...,...,...,...,...,...,...,...,...,...,...,...,...
286,287,1,1,"de Mulder, Mr. Theodore",male,30.0,0,0,345774,9.5000,NaN,S
282,283,0,1,"de Pelsmaeker, Mr. Alfons",male,16.0,0,0,345778,9.5000,NaN,S
361,362,0,1,"del Carlo, Mr. Sebastiano",male,29.0,1,0,SC/PARIS 2167,27.7208,NaN,C
153,154,0,1,"van Billiard, Mr. Austin Blyler",male,40.5,0,2,A/5. 851,14.5000,NaN,S
868,869,0,1,"van Melkebeke, Mr. Philemon",male,NaN,0,0,345777,9.5000,NaN,S

In [ ]:
#Eliminar al pasajero con edad desconocida
titanic['Age'].isna().drop

<bound method Series.drop of 0      False
1      False
2      False
3      False
4      False
       ...
886    False
887    False
888     True
889    False
890    False
Name: Age, Length: 891, dtype: bool>

In [ ]:
#Comprobamos si hay filas repetidas
titanic.duplicated().sum()

np.int64(0)

In [ ]:
#Imprime los pasajeros que viajan solos
viajanSolos = titanic[(titanic["Parch"] == 0) & (titanic["SibSp"] == 0)]
viajanSolos

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
2,3,1,1,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
4,5,0,1,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,6,0,1,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
11,12,1,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,C103,S
...,...,...,...,...,...,...,...,...,...,...,...,...
884,885,0,1,"Sutehall, Mr. Henry Jr",male,25.0,0,0,SOTON/OQ 392076,7.0500,NaN,S
886,887,0,1,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,1,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [ ]:
#Mostrar por pantalla el numero de personas que sobrevivieron
filtro = titanic[titanic["Survived"] == 1]
print(filtro["Survived"].count())

342

In [ ]:
#MOstrar por pantalla el numero de personas que no sobrevivieron
noSobreviven = titanic[titanic["Survived"] == 0]
print(noSobreviven["Survived"].count())

549

In [ ]:
#Mostrar por pantalla el porcentaje de personas que sobrevivieron
print(titanic["Survived"].mean() * 100)

38.38383838383838

In [ ]:
#Mostrar por pantalla la edaqd media de las mujeres que viajaban en cada clase
mujeres = titanic[titanic["Sex"] == "female"]
mujeres_por_clase = mujeres.groupby("Pclass")["Age"].mean()
print(mujeres_por_clase)

Pclass
1    34.611765
2    28.722973
3    21.750000
Name: Age, dtype: float64

In [ ]:
#Añadir una nueva columna booleana para ver si el pasajero era menor de
#edad o no.
titanic["Mayor Edad"] = ((titanic["Age"]<18)==False) & ((titanic["Age"]>=18)==True)
titanic

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Mayor Edad
0,1,0,1,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,True
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,True
2,3,1,1,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,True
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,True
4,5,0,1,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,1,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S,True
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S,True
888,889,0,1,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S,False
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C,True
890,891,0,1,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q,True

In [ ]:
#Borrar la columna y volver a crearla, pero esta vez que sea con valores Si o
#No
titanic.drop(columns=["Mayor Edad"], inplace=True)
titanic
#Creamos la nueva
titanic["Menor Edad"] = titanic["Age"] < 18
titanic

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Menor Edad
0,1,0,1,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,False
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,False
2,3,1,1,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,False
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,False
4,5,0,1,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,1,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S,False
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S,False
888,889,0,1,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S,False
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C,False
890,891,0,1,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q,False

##EJERCICIO 15

In [ ]:
# Filtrar los menores de edad
menores = titanic[titanic["Age"] < 18]

# Calcular el porcentaje de supervivientes (Survived == 1) por clase
porcentaje_por_clase = menores.groupby("Pclass")["Survived"].mean() * 100

print("Porcentaje de menores de edad que sobrevivieron en cada clase:")
print(porcentaje_por_clase)

#CON BUCLE FOR
print("Porcentaje de menores de edad que sobrevivieron en cada clase:\n")

for clase in sorted(titanic["Pclass"].unique()):
    menores_clase = titanic[(titanic["Pclass"] == clase) & (titanic["Age"] < 18)]
    porcentaje = menores_clase["Survived"].mean() * 100
    print(f"Clase {clase}: {porcentaje:.2f}%")

Porcentaje de menores de edad que sobrevivieron en cada clase:
Pclass
1    91.666667
2    91.304348
3    37.179487
Name: Survived, dtype: float64
Porcentaje de menores de edad que sobrevivieron en cada clase:

Clase 1: 91.67%
Clase 2: 91.30%
Clase 3: 37.18%

##EJERCICIO 16

In [ ]:
# Función que clasifica según la edad
def clasificar_edad(edad):
    if edad < 12:
        return "Niño"
    elif edad < 18:
        return "Adolescente"
    elif edad < 60:
        return "Adulto"
    else:
        return "Anciano"

# Crear nueva columna 'AgeGroup' aplicando la función
titanic["AgeGroup"] = titanic["Age"].apply(clasificar_edad)

# Verificar
titanic[["Age", "AgeGroup"]].head(10)

##EJERCICIO 17

In [ ]:
ancianos = titanic[titanic["AgeGroup"] == "Anciano"]

total_ancianos = len(ancianos)
ancianos_sobrevivientes = ancianos[ancianos["Survived"] == 1].shape[0]

print("Total de ancianos:", total_ancianos)
print("Ancianos que sobrevivieron:", ancianos_sobrevivientes)

Total de ancianos: 203
Ancianos que sobrevivieron: 59

##EJERCICIO 18

In [ ]:
print(titanic.groupby("Sex")["Age"].mean())

Sex
female    27.915709
male      30.726645
Name: Age, dtype: float64

##EJERCICIO 19

In [ ]:
sobrevivientes_1 = titanic[(titanic["Survived"] == 1) & (titanic["Pclass"] == 1)]
print(sobrevivientes_1.groupby("Sex")["Age"].mean())

Sex
female    34.939024
male      36.248000
Name: Age, dtype: float64

#EJERCICIO 20

In [ ]:
for clase in sorted(titanic["Pclass"].unique()):
    print(f"\nEdad media de los supervivientes de la clase {clase}")
    print(
        titanic[(titanic["Survived"] == 1) & (titanic["Pclass"] == clase)]
        .groupby("Sex")["Age"]
        .mean()
    )

Edad media de los supervivientes de la clase 1
Sex
female    34.939024
male      36.248000
Name: Age, dtype: float64

Edad media de los supervivientes de la clase 2
Sex
female    28.080882
male      16.022000
Name: Age, dtype: float64

Edad media de los supervivientes de la clase 3
Sex
female    19.329787
male      22.274211
Name: Age, dtype: float64